.logo-container {
    z-index: 0;
    width: 200px;
    height: 306px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 10%;
    left: auto;
    margin-top: 0;
  
    svg {
      width: 90%;
      height: auto;
      bottom: 0;
      transform: rotateZ(30deg) !important;
    }
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 90%;
      opacity: 0;
      transform: rotateZ(30deg) !important;
      z-index: 1;
    }
  }
  
  .svg-container {
    stroke: #ffd700;
    stroke-width: 10;
  }
