.home-page {
    .text-zone{
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      max-height: 100%;

    }

    h1{
        color:rgb(121, 180, 231) ;
        font-size: 55px;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color:#ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;

        }

        &::after{
            content: '<h1/>';
            font-family: 'La Belle Aurore';
            color:#ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 0.5s 0.1s backwards;
            opacity: 0.6s;

        }
        img{
            width:52px;
            margin-left: 20px;
            opacity: 0;
            height:auto;
            animation: rotateIn 2s linear both;
            animation-delay: 1s;

        }

    }
    h2{
        color:#ffd700;
        margin-top:20px ;
        font-weight: 400;
        font-size: 21px;
        font-family: 'La Belle Aurore';
        letter-spacing: 3px;
        animation: fadeIn 1s 1.5s backwards;
    }
}

.flat-button{
    color:#ffd700;
    font-size:16px;
    font-family: 'La Belle Aurore';
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border:1px solid #ffd700;
    margin-top: 25px;
    float:left;
    animation: fadeIn 1s 1.7s backwards;
    white-space: nowrap;


    &:hover{
        background-color: #ffd700;
        color:black;
    }
}

.pfp{
    position:absolute;
    top:30%;
    right:10%;
    align-items: center;
    border-radius: 25px;
    width:650px;
    height:auto;
    animation: bounceIn 1s 1.5s backwards;

}