
body{
  margin: 0;
  font:300 11px/1.4 'Helvetica Neue', sans-serif;
  color:#444;
  background: #010233;
  overflow: hidden;
  display:block;
 /* background-image: url(https://images4.alphacoders.com/286/286946.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}

html{
  font-size:62.5% ;
}
